#page-content {
    margin-top: 2rem;
}

#matpes-title{
    background: -webkit-linear-gradient(#613B9B, royalblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.section-title {
    padding-top: 1rem;
    text-align: center;
}

#header-logo {
    height: 40px;
    display: block;
    float: right;
}

.nav-link-item {
    font-size: 1.2rem;
    color: white;
}

.nav-link:hover {
    color: #ddd;
}


.nav-link.active {
    color: #ddd;
}

.download-button {
    border-radius: 0.5rem;
}

#matcalc-benchmark-legend table {
    width: 100%;

}

#matcalc-benchmark-legends {
  border-collapse: collapse;
  width: 100%;
}

#matcalc-benchmark-legends td, #matcalc-benchmark-legend th {
  border: 1px solid #ddd;
  padding: 8px;
}

#matcalc-benchmark-legend tr:nth-child(even){background-color: #f2f2f2;}

#matcalc-benchmark-legend tr:hover {background-color: #ddd;}

#matcalc-benchmark-legend th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #633D9C;
  color: white;
}


img[alt=matpes_workflow] { width: 100%; }

#versions-table table {
  margin-bottom: 1rem;
  width: 100%;
}

#versions-table th,
#versions-table td {
  border: 1px solid black;
  padding: 8px;
}

#versions-table table {
  border-collapse: collapse;
}